{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "array-bracket-newline": "error",
    "array-bracket-spacing": ["error", "always"],

    "arrow-body-style": ["error", "as-needed"],
    "arrow-parens": "error",
    "arrow-spacing": "error",

    "block-spacing": "error",

    "brace-style": "error",

    "comma-dangle": ["error", "always-multiline"],

    "comma-spacing": "error",
    "comma-style": [
      "error",
      "first",
      {
        "exceptions": {
          "ArrayExpression": true,
          "ArrayPattern": true,
          "ArrowFunctionExpression": true,
          "CallExpression": true,
          "FunctionDeclaration": true,
          "FunctionExpression": true,
          "ImportDeclaration": true,
          "ObjectExpression": true,
          "ObjectPattern": true,
          "VariableDeclaration": false,
          "NewExpression": true
        }
      }
    ],

    "computed-property-spacing": "error",

    "curly": ["error", "multi-or-nest"],

    "dot-location": ["error", "property"],
    "dot-notation": "error",

    "eqeqeq": ["error", "always"],

    "func-call-spacing": ["error", "never"],

    "indent": ["error", 2],

    "implicit-arrow-linebreak": "error",

    "jsx-quotes": "error",

    "key-spacing": "error",

    "keyword-spacing": [
      "error",
      {
        "overrides": {
          "if": { "after": false },
          "for": { "after": false },
          "while": { "after": false }
        }
      }
    ],

    "linebreak-style": "error",

    "lines-between-class-members": "error",

    "newline-per-chained-call": "error",

    "no-console": "off",
    "no-debugger": "off",
    "no-else-return": ["error", { "allowElseIf": false }],
    "no-extra-bind": "error",
    "no-extra-label": "error",
    "no-extra-parens": ["error", "all"],
    "no-implicit-coercion": "error",
    "no-lonely-if": "error",
    "no-multi-spaces": "error",
    "no-multiple-empty-lines": "error",
    "no-undef-init": "error",
    "no-unneeded-ternary": "error",
    "no-useless-computed-key": "error",
    "no-useless-rename": "error",
    "no-useless-return": "error",
    "no-var": "error",
    "no-whitespace-before-property": "error",

    "nonblock-statement-body-position": ["error", "below"],

    "object-curly-newline": ["error", { "minProperties": 2 }],
    "object-curly-spacing": ["error", "always"],
    "object-property-newline": [
      "error",
      { "allowAllPropertiesOnSameLine": false }
    ],
    "object-shorthand": "error",

    "padded-blocks": ["error", "never"],

    "padding-line-between-statements": "error",

    "prefer-arrow-callback": "error",
    "prefer-const": "error",
    "prefer-spread": "error",
    "prefer-template": "error",

    "quote-props": ["error", "as-needed"],

    "quotes": "error",

    "semi": "error",
    "semi-spacing": "error",
    "semi-style": "error",

    "sort-keys": ["error", "asc", { "caseSensitive": true, "natural": true }],
    "sort-vars": "error",

    "space-before-blocks": "error",
    "space-before-function-paren": ["error", "never"],
    "space-in-parens": "error",
    "space-infix-ops": "error",
    "space-unary-ops": "error",

    "spaced-comment": "error",

    "switch-colon-spacing": "error",

    "template-tag-spacing": ["error", "never"],

    "wrap-iife": "error",

    "yoda": ["error", "never"],

    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "index", "sibling", "parent"],
        "newlines-between": "always"
      }
    ]
  }
}
